{
  "MentionQnAFunction": {
    "LOG_LEVEL": "INFO",
    "SLACK_BOT_TOKEN": "xoxb...",
    "SLACK_BOT_USER_ID": "",
    "SLACK_SIGNING_SECRET": "",
    "REPORT_CHANNEL_ID": "",
    "DB_HOST": "",
    "DB_PORT": "3306",
    "DB_USER": "",
    "DB_PASSWORD": "",
    "DB_NAME": "",
    "OPENAI_API_KEY": "",
    "OPENAI_MODEL": "gpt-5-nano",
    "OPENAI_QA_SYSTEM_PROMPT": "당신은 MySQL 전문가입니다...",
    "OPENAI_REPORT_SYSTEM_PROMPT": "당신은 전문 데이터 분석가입니다..."
  },
  "GenerateReportFunction": {
    "LOG_LEVEL": "INFO",
    "SLACK_BOT_TOKEN": "xoxb...",
    "SLACK_BOT_USER_ID": "",
    "SLACK_SIGNING_SECRET": "",
    "REPORT_CHANNEL_ID": "",
    "DB_HOST": "",
    "DB_PORT": "3306",
    "DB_USER": "",
    "DB_PASSWORD": "",
    "DB_NAME": "",
    "OPENAI_API_KEY": "",
    "OPENAI_MODEL": "gpt-5-nano",
    "OPENAI_QA_SYSTEM_PROMPT": "당신은 MySQL 전문가입니다...",
    "OPENAI_REPORT_SYSTEM_PROMPT": "당신은 전문 데이터 분석가입니다..."
  },
}
